<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>SOPJ</title>
        <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
        <link rel="stylesheet" href="css/global.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
        <style>
            #main-table {
                width: 100%;
            }
        </style>

        <!--header scripts-->
        <script src="src/global.js"></script>
        <script src="src/collapsables.js"></script>
    </head>

    <body>
        <!--global-->
        <div id="global">
            <%- include("global.ejs") %>
        </div>

        <!--main-->
        <div id="main">
            <!--about-->
            <div id="problems" class="text-block">
                <h2>
                    Problems
                    <hr>
                </h2>
                <div id="search" class="content-box">
                    <form action="/problems">
                        <div class="inline-block">
                            <p style="margin-top: 0px;">Search:</p>
                            <input class="text-entry" type="text" name="search" id="search-bar" value="<%= reqQuery.search %>">
                        </div>
                        <div class="inline-block" style="margin-left: 25px;">
                            <p style="margin-top: 0px;">Points Range:</p>
                            <input class="text-entry" type="number" name="pts-min" id="pts-min" value="<%= reqQuery["pts-min"] %>">
                            <input class="text-entry" type="number" name="pts-max" id="pts-max" value="<%= reqQuery["pts-max"] %>">
                        </div>
                        <button class="button">Search</button>
                        <div class="inline-block" style="margin-left: 25px;">
                            <p style="margin-top: 0px;">Sort By:</p>
                            <select name="sort-by" id="sort-by">
                                <option value="name"
                                    <% if (reqQuery["sort-by"] == "name") { %>selected<% } %>
                                >Name</option>
                                <option value="points"
                                    <% if (reqQuery["sort-by"] == "points") { %>selected<% } %>
                                >Points</option>
                                <option value="submissions"
                                    <% if (reqQuery["sort-by"] == "submissions") { %>selected<% } %>
                                >Submissions</option>
                            </select>
                            <select name="sort-order" id="sort-order">
                                <option value="0"
                                    <% if (reqQuery["sort-order"] == "0") { %>selected<% } %>
                                >Ascending</option>
                                <option value="1"
                                    <% if (reqQuery["sort-order"] == "1") { %>selected<% } %>
                                >Descending</option>
                            </select>
                        </div>
                    </form>
                </div>
                <br>
                <table id="main-table">
                    <tr>
                        <th style="width: 80%;">Problem</th>
                        <th style="width: 10%;">Points</th>
                        <th style="width: 10%;">AC</th>
                    </tr>
                    <% for (let i = 0; i < problems.length; i++) { %>
                        <tr>
                            <td>
                                <a href="/problems-view?id=<%= problems[i].id %>">
                                    <%= problems[i].name %>
                                </a>
                            </td>
                            <td class="align-center">
                                <%= problems[i].points %>
                            </td>
                            <td>
                                <%= problems[i].ac %>
                            </td>
                        </tr>
                    <% } %>
                </table>
            </div>

            <!--footer-->
            <div id="footer">
                <script src="src/load_footer.js"></script>
            </div>
        </div>
        
        <!--scripts-->
        <script src="src/index.js"></script>
    </body>
</html>