<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>SOPJ</title>
        <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
        <link rel="stylesheet" href="css/global.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
        <style>
            #submission {
                /* float: right; */
                margin-left: 25px; margin-bottom: 25px;
            }
        </style>

        <!--header scripts-->
        <script src="src/global.js"></script>
        <script src="src/collapsables.js"></script>
        <!--mathjax-->
        <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
        <script src="src/mathjax_config.js"></script>
    </head>

    <body>
        <!--global-->
        <div id="global">
            <%- include("global.ejs") %>
        </div>

        <!--main-->
        <div id="main">
            <!--about-->
            <div id="problem" class="text-block">
                <h2>
                    <%= problem.name %>
                    <hr>
                </h2>
                <div class="bounding-box inline-block align-top" style="width: 76%;">
                    <div class="markdown">
                        <%- problem.description %>
                    </div>
                </div><div class="bounding-box inline-block align-top" style="width: 24%;">
                    <div id="submission" class="content-box">
                        <p style="margin-top: 0px;">
                            <a href="/submissions?problem=<%= problem.id %>">View Submissions</a>
                        </p>
                        <p>
                            <a href="/submissions?problem=<%= problem.id %>&user=<%= (user? user.userid : 0) %>">My Submissions</a>
                        </p>
                        <p>
                            <a href="/problems-submit?id=<%= problem.id %>">Submit</a>
                        </p>
                        <hr>
                        <p>
                            Points: <%= problem.points %>
                        </p>
                        <p>
                            Time Limit: <%= problem.time.toFixed(1) %>s
                        </p>
                        <p>
                            Memory Limit: <%= problem.memory %> MB
                        </p>
                        <hr>
                        <p style="margin-bottom: 0px;">
                            Problem Type: Undefined
                        </p>
                    </div>
                </div>
            </div>

            <!--footer-->
            <div id="footer">
                <script src="src/load_footer.js"></script>
            </div>
        </div>
        
        <!--scripts-->
        <script src="src/index.js"></script>
    </body>
</html>