<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>SOPJ</title>
        <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
        <link rel="stylesheet" href="css/global.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
        <style>
            #submission .text-entry {
                width: 100%;
            }
            #submission textarea {
                height: 20em;
            }
            #submission .button {
                width: 100%;
            }
        </style>

        <!--header scripts-->
        <script src="src/global.js"></script>
        <script src="src/collapsables.js"></script>
    </head>

    <body>
        <!--global-->
        <div id="global">
            <%- include("global.ejs") %>
        </div>

        <!--main-->
        <div id="main">
            <!--about-->
            <div id="problem" class="text-block">
                <h2>
                    Edit Problem
                    <hr>
                </h2>
                <div id="submission">
                    <% if (errors) { %>
                        <p><b>Submission Error: <%= errors %></b></p><br>
                    <% } %>
                    <form action="/edit-problem" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="id" value="<%= problem.id %>">
                        <label for="name"><b>Problem Name:</b>*</label><br>
                        <input class="text-entry" type="text" name="name" id="name" value="<%= problem.name %>" required><br><br>
                        <label for="description"><b>Problem Body:</b>*</label><br>
                        <textarea class="text-entry" name="description" id="description"><%= problem.description %></textarea><br><br>
                        <h3>Limits</h3>
                        <label for="time"><b>Time Limit:</b>* (seconds)</label><br>
                        <input class="text-entry" type="number" name="time" id="time" value="<%= problem.time %>" step="0.1" required><br><br>
                        <label for="memory"><b>Memory Limit:</b>* (megabytes)</label><br>
                        <input class="text-entry" type="number" name="memory" id="memory" value="<%= problem.memory %>" required><br><br>
                        <h3>Test Cases</h3>
                        <input type="file" name="test-cases" id="test-cases"><br><br>
                        <h3>Configuration</h3>
                        <textarea class="text-entry" name="config" id="config"><%= problem.config %></textarea><br><br>
                        <button class="button" type="submit">
                            Submit
                        </button>
                    </form>
                </div>
            </div>

            <!--footer-->
            <div id="footer">
                <script src="src/load_footer.js"></script>
            </div>
        </div>
        
        <!--scripts-->
        <script src="src/index.js"></script>
    </body>
</html>