<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>SOPJ</title>
        <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
        <link rel="stylesheet" href="css/global.css">
        <link rel="stylesheet" href="css/submissions.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
        <style>
            #main-table {
                width: 100%;
            }
        </style>

        <!--header scripts-->
        <script src="src/global.js"></script>
        <script src="src/collapsables.js"></script>
    </head>

    <body>
        <script>hljs.highlightAll();</script>
        <!--global-->
        <div id="global">
            <%- include("global.ejs") %>
        </div>

        <!--main-->
        <div id="main">
            <!--about-->
            <div id="problems" class="text-block">
                <h2>
                    Submission #<%= submission.id %> to
                    <a href="/problems-view?id=<%= submission.problem %>">
                        <%= submission.problemName %>
                    </a> by
                    <a href="/users-view?id=<%= submission.user %>">
                        <%= submission.userName %>
                    </a>
                    <hr>
                </h2>
                <p>
                    Problem:
                    <a href="/problems-view?id=<%= submission.problem %>">
                        <%= submission.problemName %>
                    </a><br>
                    User:
                    <a href="/users-view?id=<%= submission.user %>">
                        <%= submission.userName %>
                    </a><br>
                    Language: <%= submission.language %>
                </p>
                <h3 style="margin-bottom: 0px;">
                    Status:
                </h3>
                <p style="margin-top: 0px;">
                    &emsp;<span class="<%= submission.status %>"><%= submission.status %></span>
                    (<%= submission.points %>/<%= submission.totpoints %> points)
                </p>
                <% let test_i = 0; let subtask_i = 0; %>
                <% for (let subtask of submission.json.subtasks) { %>
                    <p>
                        <b>Subtask <%= ++subtask_i %></b>
                        (0/<%= subtask.points %> points)<br>
                        <% for (let v of subtask.verdict) { %>
                            &emsp;Test Case <%= ++test_i %>: <span class="<%= v %>"><%= v %></span><br>
                        <% } %>
                    </p>
                <% } %>
                <h3>Code:</h3>
                <pre style="font-size: 16px;"><code><%= submission.code %></code></pre>
            </div>

            <!--footer-->
            <div id="footer">
                <script src="src/load_footer.js"></script>
            </div>
        </div>
        
        <!--scripts-->
        <script src="src/index.js"></script>
    </body>
</html>