<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>UOPJ</title>
        <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
        <link rel="stylesheet" href="css/global.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
        <style>
            #main-table {
                width: 100%;
            }
        </style>

        <!--header scripts-->
        <script src="src/global.js"></script>
        <script src="src/collapsables.js"></script>
    </head>

    <body>
        <!--global-->
        <div id="global">
            <%- include("global.ejs") %>
        </div>

        <!--main-->
        <div id="main">
            <!--about-->
            <div id="problems" class="text-block">
                <h2>
                    Submission <%= submission.id %>
                    <hr>
                </h2>
                <p>
                    <a href="/problems-view?id=<%= submission.problem %>">
                        Problem: <%= submission.problem %>
                    </a><br>
                    User: <%= submission.user %><br>
                    Language: <%= submission.language %>
                </p>
                <p>
                    Status:
                </p>
                <p>
                    <% for (let c of submission.status) { %>
                        <%= c %>
                    <% } %>
                </p>
                <p>Code:</p>
                <pre><%= submission.code %></pre>
            </div>

            <!--footer-->
            <div id="footer">
                <script src="src/load_footer.js"></script>
            </div>
        </div>
        
        <!--scripts-->
        <script src="src/index.js"></script>
    </body>
</html>