<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>SOPJ</title>
        <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
        <link rel="stylesheet" href="css/global.css">
        <link rel="stylesheet" href="css/submissions.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
        <style>
            #main-table {
                width: 100%;
            }
        </style>

        <!--header scripts-->
        <script src="src/global.js"></script>
        <script src="src/collapsables.js"></script>
    </head>

    <body>
        <!--global-->
        <div id="global">
            <%- include("global.ejs") %>
        </div>

        <!--main-->
        <div id="main">
            <!--about-->
            <div id="problems" class="text-block">
                <h2>
                    Submissions
                    <% if (reqQuery.user) { %>
                        by User #<%= reqQuery.user %>
                    <% } %>
                    <% if (reqQuery.problem) { %>
                        to Problem #<%= reqQuery.problem %>
                    <% } %>
                    <hr>
                </h2>
                <div id="search" class="content-box">
                    <form action="/submissions">
                        <div class="inline-block">
                            <label for="language">Language:</label>
                            <select name="language" id="language">
                                <option value="">Any</option>
                                <option value="c++">C++</option>
                                <option value="java">Java</option>
                                <option value="python">Python</option>
                            </select>
                        </div>
                        <div class="inline-block" style="margin-left: 25px;">
                            <label for="status">Status:</label>
                            <select name="status" id="status">
                                <option value="">Any</option>
                                <option value="AC">AC</option>
                                <option value="WA">WA</option>
                                <option value="TLE">TLE</option>
                                <option value="RTE">RTE</option>
                                <option value="CE">CE</option>
                                <option value="Q">Queued</option>
                                <option value="IE">IE</option>
                            </select>
                        </div>
                        &ensp;
                        <button class="button">Search</button>
                    </form>
                </div>
                <br>
                <div class="page-selector">
                    <div class="page-btn">
                        <i class="fa-solid fa-angle-left"></i>
                    </div>
                    <div style="display: flex;">
                        <% for (let i = 0; i < 10; i++) { %>
                            <div class="page-btn">
                                <%= i+1 %>
                            </div>
                        <% } %>
                    </div>
                    <div class="page-btn">
                        <i class="fa-solid fa-angle-right"></i>
                    </div>
                </div>
                <br>
                <table id="main-table">
                    <tr>
                        <th style="width: 20%;">Submission</th>
                        <th style="width: 30%;">Problem</th>
                        <th style="width: 20%;">User</th>
                        <th style="width: 10%;">Language</th>
                        <th style="width: 10%;">Status</th>
                        <th style="width: 10%;">Score</th>
                    </tr>
                    <% for (let i = 0; i < submissions.length; i++) { %>
                        <tr>
                            <td>
                                <a href="/submissions-view?id=<%= submissions[i].id %>">
                                    Submission #<%= submissions[i].id %>
                                </a><br>
                                <span class="minor" style="font-size: 14px;">
                                    <%= submissions[i].timestampStr %>
                                </span>
                            </td>
                            <td>
                                <a href="/problems-view?id=<%= submissions[i].problem %>">
                                    <%= submissions[i].problemName %>
                                </a>
                            </td>
                            <td>
                                <a href="/users-view?id=<%= submissions[i].user %>">
                                    <%= submissions[i].userName %>
                                </a>
                            </td>
                            <td>
                                <%= submissions[i].language %>
                            </td>
                            <td class="align-center">
                                <a href="/submissions-view?id=<%= submissions[i].id %>">
                                    <span class="<%= submissions[i].status %>"><%= submissions[i].status %></span>
                                </a>
                            </td>
                            <td class="align-center">
                                <%= submissions[i].points %> / <%= submissions[i].totpoints %>
                            </td>
                            <!-- <td>
                                <span class="<%= submissions[i].status %>"><%= submissions[i].status %></span>&ensp;
                                (<%= submissions[i].points %>/<%= submissions[i].totpoints %>)
                            </td> -->
                        </tr>
                    <% } %>
                </table>
            </div>

            <!--footer-->
            <div id="footer">
                <script src="src/load_footer.js"></script>
            </div>
        </div>
        
        <!--scripts-->
        <script src="src/index.js"></script>
    </body>
</html>