<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>SOPJ</title>
        <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
        <link rel="stylesheet" href="css/global.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
        <style>
            #main-table {
                width: 100%;
            }
        </style>

        <!--header scripts-->
        <script src="src/global.js"></script>
        <script src="src/collapsables.js"></script>
    </head>

    <body>
        <!--global-->
        <div id="global">
            <%- include("global.ejs") %>
        </div>

        <!--main-->
        <div id="main">
            <!--about-->
            <div id="users" class="text-block">
                <h2>
                    Users
                    <hr>
                </h2>
                <div id="search" class="content-box">
                    <form action="/users">
                        <label style="margin-top: 0px;">Search:</label>
                        <input class="text-entry" type="text" name="search" id="search-bar">
                        <button class="button">Search</button>
                        <div class="inline-block" style="margin-left: 25px;">
                            <label for="sort-by">Sort By:</label>
                            <select name="sort-by" id="sort-by">
                                <option value="name">Name</option>
                                <option value="points">Points</option>
                                <option value="submissions">Problems Solved</option>
                            </select>
                            <select name="sort-by" id="sort-order">
                                <option value="name">Ascending</option>
                                <option value="points">Descending</option>
                            </select>
                        </div>
                    </form>
                </div>
                <br>
                <table id="main-table">
                    <tr>
                        <th style="width: 10%;">#</th>
                        <th style="width: 70%;">Username</th>
                        <th style="width: 10%;">Points</th>
                        <th style="width: 10%;">Problems</th>
                    </tr>
                    <% for (let i = 0; i < users.length; i++) { %>
                        <tr>
                            <td>
                                <%= i+1 %>
                            </td>
                            <td>
                                <a href="/users-view?id=<%= users[i].id %>"><%= users[i].username %></a>
                            </td>
                            <td>
                                <%= users[i].points %>
                            </td>
                            <td>
                                <%= users[i].problems %>
                            </td>
                        </tr>
                    <% } %>
                </table>
            </div>

            <!--footer-->
            <div id="footer">
                <script src="src/load_footer.js"></script>
            </div>
        </div>
        
        <!--scripts-->
        <script src="src/index.js"></script>
    </body>
</html>