<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>SOPJ</title>
        <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
        <link rel="stylesheet" href="css/global.css">
        <link rel="stylesheet" href="css/submissions.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
        <style>
            #submission {
                float: right;
            }
        </style>

        <!--header scripts-->
        <script src="src/global.js"></script>
        <script src="src/collapsables.js"></script>
        <!--mathjax-->
        <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
        <script src="src/mathjax_config.js"></script>
    </head>

    <body>
        <!--global-->
        <div id="global">
            <%- include("global.ejs") %>
        </div>

        <!--main-->
        <div id="main">
            <!--about-->
            <div id="user" class="text-block">
                <h2>
                    User: "<%= userV.username %>"
                    <hr>
                </h2>
                <p>
                    Points: <%= userV.points %><br>
                    Problems Solved: 0<br>
                    Rank by Points: #0
                </p>
                <p>
                    <a href="/submissions?user=<%= userV.id %>">View Submissions</a>
                </p>
                <p>
                    No information provided.
                </p>
                <h2>
                    Solved Problems
                    <hr>
                </h2>
                <table style="width: 100%;">
                    <tr>
                        <th style="width: 80%;">Problem</th>
                        <th style="width: 10%;">Verdict</th>
                        <th style="width: 10%;">Points</th>
                    </tr>
                    <% for (let problem of solvedP) { %>
                        <tr>
                            <td>
                                <a href="/submissions?problem=<%= problem.id %>&user=<%= userV.id %>"><%= problem.name %></a>
                            </td>
                            <td class="align-center">
                                <a href="/submissions?problem=<%= problem.id %>&user=<%= userV.id %>">
                                    <span class="<%= problem.verdict %>"><%= problem.verdict %></span>
                                </a>
                            </td>
                            <td class="align-center">
                                <%= problem.ptsEarned %> / <%= problem.points %>
                            </td>
                        </tr>
                    <% } %>
                </table>
            </div>

            <!--footer-->
            <div id="footer">
                <script src="src/load_footer.js"></script>
            </div>
        </div>
        
        <!--scripts-->
        <script src="src/index.js"></script>
    </body>
</html>